/* CSS for ViaductXBlock */

.pending, .error {
    display: none;
    position: relative;
    margin: 0 auto;
}

#gateonecontainer {
    position: relative;
    margin: 5em auto 0 auto;
    width: 60em;
    height: 30em;
}

#container {
    height: 100%;
    width: 100%
}
