.buttons {
    text-align: right;
}

.buttons .check {
    display: none;
}

.buttons .reset {
    color: red;
}

.buttons .port {
    display: none;
    border: 1px solid #d2c9c9;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #fff;
    color: #333;
    font-size: inherit;
    font-weight: bold;
    background-color: #f1f1f1;
    background-image: -webkit-linear-gradient(#f1f1f1,#d9d1d1);
    background-image: linear-gradient(#f1f1f1,#d9d1d1);
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fcfbfb;
    background-clip: padding-box;
    font-size: 0.8125em;
    text-transform: none;
    letter-spacing: 0;
    cursor: pointer;
    -webkit-appearance: button;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

#container {
    position: relative;
    width: 100%;
    height: 20em;
}

#container.graphical {
    height: 40em;
}

#container.graphical canvas:first-child {
    z-index: 0 !important;
}

#terminal {
    height: 100%;
    width: 100%
}

.dialog-overlay {
    position: absolute;
    top: -0.5em;
    right: -1em;
    bottom: -1px;
    left: -0.5em;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.1);
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    text-align: center;
    z-index: 1001;
    margin: 0 20px 0 10px;
}

.dialog-overlay:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.05em;
}

.dialog,
.error {
    max-width: 480px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #000;
    text-align: left;
}

.dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1002;
}

.error {
    margin: 0 auto;
}

.inner {
    background: rgb(245, 245, 245);
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.9);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
    overflow: hidden;
    padding: 10px;
    position: relative;
}

.inner h1,
.inner h2,
.inner p {
    text-align: center !important;
    margin: 0 0 0.5em 0!important;
}

.hints_title {
    color: red;
    padding-top: 0.5em;
}

.hints {
    font-size: 0.8em;
}

.dialog {
    display: none;
}

.dialog .loader:before,
.dialog .loader:after,
.dialog .loader {
    display: inline-block;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: ellipsis 1.8s infinite ease-in-out;
}

.dialog .loader {
    font-size: 2px;
    margin: 10px 0 4px 16px;
    position: relative;
    animation-delay: -0.16s;
}

.dialog .loader:before {
    left: -6em;
    animation-delay: -0.32s;
}

.dialog .loader:after {
    left: 6em;
}

.dialog .loader:before,
.dialog .loader:after {
    content: '';
    position: absolute;
    top: 0;
}

@keyframes ellipsis {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em #000;
    }
    40% {
        box-shadow: 0 2.5em 0 0 #000;
    }
}

.content-side-by-side {
    max-width: 1800px !important;
}

.instructions-side-view {
    height: 40em !important;
    padding-left: 1%;
}

.terminal-side-view {
    height: 40em !important;
}
