{% load i18n %}

{{child_content|safe}}
<div class="hastexblock"><!-- Don't use underscores in this div's class, as doing so breaks the dialog overlay. -->
  <div id="container">
    <div id="terminal"></div>
  </div>
  <div class="buttons bar">
    <select class="port"></select>
    {% if enable_fullscreen %}
    <input type="button" value="Open in new window" class="launch"/>
    {% endif %}
    <input type="button" value="Reset" class="reset" />
    <input type="button" value="Check progress" class="check" />
  </div>
  <div class="dialog" id="launch_pending">
    <div class="inner">
      <h1><span>{% trans "Please wait" %}</span><span class="loader"></span></h1>
      <p class="message">{% trans "We're preparing your lab environment." %}</p>
      <p class="message">{% trans "Don't panic!  It may take a few minutes." %}</p>
    </div>
  </div>
  <div class="dialog" id="launch_error">
    <div class="inner">
      <h1 class="header">{% trans "Sorry!" %}</h1>
      <p class="message"></p>
      <p class="error_msg"></p>
      <p class="buttons">
        <input type="button" class="ok" value="Ok" />
        <input type="button" class="retry" value="Retry" />
      </p>
    </div>
  </div>
  <div class="dialog" id="check_pending">
    <div class="inner">
      <h1><span>{% trans "Please wait" %}</span><span class="loader"></span></h1>
      <p class="message">{% trans "Working" %}</p>
    </div>
  </div>
  <div class="dialog" id="check_complete">
    <div class="inner">
      <h1 class="check_result_heading">{% trans "Progress check result" %}</h1>
      <p class="check_result_message"></p>
      <h2 class="hints_title">{% trans "Hints" %}</h2>
      <ul class="hints"></ul>
      <p class="buttons">
        <input type="button" class="ok" value="Ok" />
      </p>
    </div>
  </div>
  <div class="dialog" id="check_error">
    <div class="inner">
      <h1>{% trans "Sorry!" %}</h1>
      <p class="message">{% trans "There was a problem checking your progress:" %}</p>
      <p class="error_msg"></p>
      <p class="buttons">
        <input type="button" class="ok" value="Ok" />
        <input type="button" class="retry" value="Retry" />
      </p>
    </div>
  </div>
  <div class="dialog" id="idle">
    <div class="inner">
      <h1>{% trans "We think you're busy elsewhere." %}</h1>
      <p class="message">{% trans "You've been inactive here for a while, so we paused your lab environment." %}</p>
      <p>{% trans "Click 'OK' to return to your terminal in this window." %}</p>
      <p class="buttons">
        <input type="button" class="ok" value="Ok" />
      </p>
    </div>
  </div>
  <div class="dialog" id="reset_dialog">
    <div class="inner">
      <h1>{% trans "Are you sure?" %}</h1>
      <p class="message">
        {% trans "Resetting will return your lab environment to a pristine state." %}
        <br/>
        {% trans "This may take several minutes to complete." %}
        <span class="exam-warning">
        {% trans "In a timed exam, the timer will continue to run while your environment is being reset." %}</span>
        <br/>
        {% trans "After you reset, you will need to retrace your steps up to this point." %}
        <br/>
        {% trans "You cannot undo this action." %}</p>
      <p class="buttons">
        <input type="button" class="reset" value="Reset" />
        <input type="button" class="cancel" value="Cancel" />
      </p>
    </div>
  </div>
</div>
